<form return false>
    <label>Start:</label>
        <input type="text" >
    <label>Midpoint:</label>
        <input type="text" >
        <button ng-click="">Add</button>
        <select size="4" name="midPoints" multiple="multiple"></select>
        <button ng-click="">Clear mid points</button>
    <label>Destination:</label>
        <input type="text" >
        <input type="checkbox" name="avoidHighways">Avoid Freeway</input>
        <input type="checkbox" name="avoidTolls">Avoid Toll</input>
        <button ng-click="submit">Submit</button>
</form>
