<nav>
  <ul>
    <li>
        <a ui-sref="/">
            <img src="../../assets/open-iconic-master/home.svg" alt="home-icon" class="icon"></img>Home</a>
    </li>
    <li>
        <a ui-sref="about">
            <img src="../../assets/open-iconic-master/people.svg" alt="about-icon" class="icon"></img>About</a>
    </li>
    <li>
        <a href="shoppingList.html" target="_blank">
            <img src="../../assets/open-iconic-master/list.svg" alt="shoppinglist-icon" class="icon"></img>Shopping List</a>
    </li>
    <li>
        <a href="trip">
            <img src="../../assets/open-iconic-master/loop-circular.svg" alt="trip-icon" class="icon"></img>Trip Generator</a>
    </li>
    <li>
        <a href="trip">
            <img src="../../assets/open-iconic-master/loop-circular.svg" alt="trip-icon" class="icon"></img>Sign in</a>
    </li>
    <li>
        <a href="trip">
            <img src="../../assets/open-iconic-master/loop-circular.svg" alt="trip-icon" class="icon"></img>Sign out</a>
    </li>
  </ul>
</nav>
